body{
  background-color: #d4e6f1;
}
h1{
  color: black;
}
h2{
    color: black;
}
h3{
  color: #34495e  ;
}
h1, h2{
  font-family: Chaparral Pro Light;
}
h3{
  font-family: Chaparral Pro;
}
  }
}
}
}
